/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.otf') format('woff');
}

@font-face {
    font-family: 'poppins-bold';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Poppins-SemiBold.otf') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #061f29;
    --pink: #ED653B;
    --white: #E7dfdd;
    --white-1: #E7dfdd;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    background: var(--black);
    overflow-x: hidden;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.swal2-popup {
    font-size: 100% !important; /* Ajusta el tamaño de fuente */
    color: var(--white-1) !important;
}
.swal2-title {
    font-size: 125% !important; /* Ajusta el tamaño del título */
}
.swal2-content {
    font-size: 100% !important; /* Ajusta el tamaño del contenido */
}
.swal2-confirm {
    font-size: 100% !important; /* Ajusta el tamaño del botón */
}

@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

.swal2-warning {
    border-color: var(--pink) !important;
    color: var(--pink) !important;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

h2.about__title {
    text-align: center;
}

h2.about__title::after, h2.swal2-title::after {
    margin-inline: auto;
    position: relative;
}

h2.contact__title {
    text-align: center;
    margin-bottom: 3rem !important;
}

h2.contact__title::after {
    margin-inline: auto;
    position: relative;
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-family: 'poppins-bold'
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--pink);
    margin: var(--gutter-small) 0;
}

h2.about__tittle {
    margin: 0%;
}

p.about__subtittle {
    margin-top: 0%;
}

p.about__subtittle::after {
    content: '';
    text-align: center;
    display: block;
    height: 2px;
    width: 100%;
    background: var(--pink);
    margin-top: 1% !important;
    margin: var(--gutter-small) 0;
}

h2.about__tittle::after {
    content: none;
}

.about__text {
   text-align: justify;
}

.about__text p {
    margin-bottom: 2.5rem;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: var(--pink);
}

.btn, .swal2-confirm {
    position: relative;
    background-color: transparent !important;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--pink) !important;
    font-weight: 400;
}

.btn:focus, .swal2-confirm::focus {
    background-color: transparent !important;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--pink) !important;
    font-weight: 400;
}

div.swal2-container button.swal2-styled.swal2-confirm:focus {
    box-shadow: none; /* Anula cualquier sombra aplicada anteriormente */
}

.btn::after, .swal2-confirm::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.swal2-confirm:hover::after {
    right: 0;
    background: var(--pink);
}

.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--pink);
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}


.link__text:hover::after {
    right: 0;
    background: var(--pink);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/* ----- Back to Top ----- */

.back-to-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: var(--pink);
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
}

.back-to-top__image {
    height: 70%;
}

@media(max-width: 900px) {
    .back-to-top {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--pink);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--pink);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    padding: 1rem;
    min-width: 100%;
}

.logo {
    transition: all .2s;
}

.logo:hover {
    transform: scale(1.1);
}

.card.one {
    --animate-delay: 0s;
}
.card.two {
    --animate-delay: 0.1s;
}
.card.three {
    --animate-delay: 0.2s;
}
.card.four {
    --animate-delay: 0.3s;
}
.card.five {
    --animate-delay: 0.4s;
}
.card.six {
    --animate-delay: 0.5s;
}
.card.seven {
    --animate-delay: 0.6s;
}
.card.eigth {
    --animate-delay: 0.7s;
}

.logo-subtext {
    font-size: 70%;
    text-align: center;
}

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.header {
    background:linear-gradient(0deg,rgba(6,31,41,1),rgba(0,0,0,0)),url("images/e247c0f1e3ba8ba453d2ea4886251f36 (1).jpg") center center fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    font-size: var(--font-size-normal);
    transition:1s ease-in-out;
}

.heading-secondary {
    --animate-duration: 2s;
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
}

@media (max-width: 600px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(8, 1fr); }
}

@media (max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }
}

@media (max-width: 600px){
    .header {
        text-align: center;
    }
}



/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */

.work__box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
}

h2 {
    font-family: 'poppins-bold';
}

.work__text h3 {
    font-family: 'poppins-bold'
}

.work__list {
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image {
    box-shadow: 0 1rem 5rem rgb(0 0 0 / 50%);
    transition: all .3s;
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
    position: relative;
}

.work__image-box:hover .overlay {
    width: 100%;
}

.overlay table {
    display: none;
}

.overlay:hover table {
    display: block;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.work__image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #B31212;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.card-image {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}

/* --------------------------------------- */
/* ----- Clients ----- */
/* --------------------------------------- */

.client__logos {
    display: flex;
    justify-content: space-between;
    filter: invert(100%) grayscale(100%) opacity(.8);
}

.client__logo {
    height: 6.5rem;
    max-width: 18rem;
}

@media(max-width: 1240px) {
    .client__logos {
        overflow-x: scroll;
        padding: var(--gutter-normal);
    }

    .client__logo:not(:last-of-type) {
        margin-right: var(--gutter-medium);
    }
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
    padding-inline: 4.5rem;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: auto;
    align-items: center;
}

.about__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    align-items: center;
}

.about__icon-container {
    display: flex;
    text-align: center;
    margin-block: .7rem;
    align-items: center;
}

.work {
    overflow: hidden;
}

.about__icon-container img {
    width: 30px;
    margin-right: .7rem;
}

@media(max-width: 800px) {
    .about__icons {
        column-gap: 20px;
        flex-direction: column;
    }

    .about__icon-container {
        position: relative;
    }

    .about__icon-container img {
        position: absolute;
        right: 100%;
    }
}

.cv__button, .swal2-confirm {
    margin-top: 2.5rem;
    margin-inline: auto;
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column;
        align-items: initial;
    }
}

.about__photo-container {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    
    .about__photo-container {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact__info {
    max-width: var(--container-medium-width);
}

.contact__items {
    display: inline;
}

.contact__item {
    transition: all .3s;
    position: absolute;
    margin-left: 1em;
    max-width: 3.2em;
    margin-top: -3px;
}

.contact__item:hover {
    transform: scale(1.1);
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
    height: 5.5rem;
    width: 5.5rem;
    background-color: #ED653B;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}

.footer__social-link-item:hover {
    transform: scale(1.1);
}

.footer__social-image {
    object-fit: contain;
    padding: .8rem;
    width: 100%;
    max-width: 100%;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}
